body {
    background-color: #121214;
    font-family: 'Poppins', sans-serif;
    margin: 50px;
}

h1, p, h3, li {
    color: #fff; /* Cor do texto, você pode ajustar conforme necessário */
}

button {
    background-color: #81D8F7;
    color: #121214;
    font-size: 14px;
    font-family: 'Inter', sans-serif; 
    border-radius: 4px;
    box-shadow: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}