body {
    background-color: #121214;
    font-family: 'Poppins', sans-serif;
    margin: 50px;
}

h1, p, h3, li {
    color: #fff; /* Cor do texto, você pode ajustar conforme necessário */
}

button {
    background-color: #81D8F7;
    color: #121214;
    font-size: 14px;
    font-family: 'Inter', sans-serif; 
    border-radius: 4px;
    box-shadow: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.patients-table {
    width: 100%;
    border-collapse: collapse;
}

.patients-table, .patients-table th, .patients-table td {
    border: 1px solid #ddd;
}

.patients-table th, .patients-table td {
    padding: 8px;
    text-align: left;
}

.patients-table th {
    background-color: #81D8F7;
    color: #000;
}

.patients-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.patients-table tr:nth-child(odd) {
    background-color: #ffffff; /* Cor de fundo para linhas ímpares */
}


.button1 {
    background-color: #37C749;
    color: #fff;
    margin-right: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

.button2 {
    background-color: #FABC48;
    color: #fff;
    margin-right: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

.button3 {
    background-color: #F64F49;
    color: #fff;
    margin-right: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

.button4 {
    background-color: #37C749;
    color: #fff;
    margin-right: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

.button1:hover, .button2:hover, .button3:hover {
    opacity: 0.8; /* Aumentei a opacidade para 0.8 para um efeito de hover mais sutil */
}
